@charset "utf-8";

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}

body {

}
#agrupar {
	width: 100%;
	text-align: left;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	float: left;
}
#cabecera1 {
	display: inline;
	text-align: center;
	vertical-align: 50%;
}
#cabecera {
	background: #FFFBB9;
	border: 1px solid #999999;
	padding: 0px;
	display: block;
	margin: 8px;
}

#logo {
	text-align: left;
	display: inline;
	padding: 0px;
}
#menu {
	display: inline-block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: white;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
}
#botonera {
	display: inline-block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: white;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	float: none;
	text-align: center;
}
#contador {
	background-color: #333;
	color: #C30;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 50px;
	padding-left: 4px;
	height: 20px;
	float: none;
}


#player {
	float: none;
	display: block;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
#OTRO {
	text-align: center;
	float: none;
}

#medio {
	width: 80%;
	padding: 0px;
	margin: 0px;
	height: 80%;
	background: #999999;
	border: 1px solid #666666;
	float: left;
}
#linea_alta_video {
	padding: 0px;
	margin: 0px;
	height: auto;
}



#seccion {
	float: inherit;
	width: 100%;
	margin: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	text-align: center;
	display: block;
}

.menu_li {
	display: inline-block;
	list-style: none;
	padding: 3;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	background-color: #FFFBB9;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
#menu_li {
	display: inline-block;
	list-style: none;
	padding: 3;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	background-color: #FFFBB9;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
