@import url("../webfonts/Airstrike_3d/stylesheet.css");
@import url("../webfonts/Hotel_Coral_Essex/stylesheet.css");
@import url("../webfonts/Iapetus_Chrome/stylesheet.css");
@import url("../webfonts/almosnow/stylesheet.css");
@import url("../webfonts/AgainstMyself/stylesheet.css");




.Cabecera {
	font-weight: bolder;
	text-align: center;
	background-color: #3399FF;
	color: #E4E4E4;
	border-top-color: #00F;
	border-right-color: #00F;
	border-bottom-color: #00F;
	border-left-color: #00F;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 19px;
}
.BotonRequest {
	display: none;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.DatosCentrados {
	text-align: center;
}
.AIzquierdas {
	padding-left: 12px;
	font-weight: normal;
	font-family: "Hotel Coral Essex";
	color: #f00;
	font-size: 26px;
	background-color: #004040;
	border-top-color: #00F;
	border-right-color: #00F;
	border-bottom-color: #00F;
	border-left-color: #00F;
}

.Tabla {
	border-top-style: groove;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: groove;
	background-color: #000;
	text-align: center;
}
.fondosLineas {
	background-color: #F13C0E;
}
.otro {
	text-align: left;
	position: relative;
	background-color: #004040;
	border-top-color: #00F;
	border-right-color: #00F;
	border-bottom-color: #00F;
	border-left-color: #00F;
}
.otroCentro {
	text-align: center;
	position: relative;
	border-top-color: #00F;
	border-right-color: #00F;
	border-bottom-color: #00F;
	border-left-color: #00F;
	font-weight: bolder;
	font-family: "Hotel Coral Essex";
	color: #F00;
	background-color: #004040;
	font-size: 26px;
}
#refreshDatos {
	text-align: right;
	float: none;
	display: inherit;
}
	
.botonSubmit {
	text-align: center;
	color: #F00;
	font-weight: bold;
	font-size: 18px;
}
.rotulo {
	text-align: center;
	font-weight: bold;
}
.TextLogin {
	text-align: center;
}
.TablaLogin {
	background-color: #06F;
	color: #FFF;
	border-top-style: groove;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: groove;
	font-size: 18px;
}
.cuerpo {
	background-color: #000;
	font-style: inherit;
}
	
.Caja {
	width: 80%;
	background-color: #000;
	color: #6F0;
	font-size: 20px;
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bolder;
	text-align: center;
}
.Saldo {
	background-color: #000;
	color: #6F0;
	font-size: 20px;
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bolder;
	width: 50px;
}
.soloCaja {
	color: #FFF;
	background-color: #003399;
	font-size: 18px;
	font-weight: bolder;
	font-family: Verdana, Geneva, sans-serif;
}
.cantidadCartones {
	background-color: #F13C0E;
	float: none;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.padding0 {


}

.TextoArea {
	padding: 30px;
	text-align: justify;
	font-size: 18px;
	font-weight: bold;
}
.soloRojo {
	color: #F00;
	font-weight: bolder;
}
.footerClass {
	visibility: hidden;
}
.content2 {


}
.GamerSatus {
	visibility: visible;
	height: 100%;


}
.ResalteNum {
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #FF3;
	border-right-color: #FF3;
	border-bottom-color: #FF3;
	border-left-color: #FF3;
}
