.Cabecera {
	font-weight: bolder;
	text-align: center;
	background-color: #09F;
	color: #FFF;
	border-top-color: #00F;
	border-right-color: #00F;
	border-bottom-color: #00F;
	border-left-color: #00F;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.BotonRequest {
	display: none;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.DatosCentrados {
	text-align: center;
}
.AIzquierdas {
	padding-left: 12px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}
.Tabla {
	border-top-style: groove;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: groove;
	border-top-color: #96C;
	border-right-color: #96C;
	border-bottom-color: #96C;
	border-left-color: #96C;
	background-color: #000;
	text-align: center;
}
.fondosLineas {
}
.otro {
	text-align: left;
	position: relative;
	background-color: #C6D580;
	border-top-color: #00F;
	border-right-color: #00F;
	border-bottom-color: #00F;
	border-left-color: #00F;
}

#refreshDatos {
	text-align: right;
	float: none;
	display: inherit;
}
	
.botonSubmit {
	text-align: center;
	color: #F00;
	font-weight: bold;
	font-size: 18px;
}
.rotulo {
	text-align: center;
	font-weight: bold;
}
.TextLogin {
	text-align: center;
}
.TablaLogin {
	background-color: #06F;
	color: #FFF;
	border-top-style: groove;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: groove;
}
.cuerpo {
	background-color: #000;
}
	
.Caja {
	width: 50%;
	background-color: #000;
	color: #9F0;
	font-size: 16px;
}
.soloCaja {
	color: #FFF;
}
.cantidadCartones {
	background-color: #F13C0E;
	float: none;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.padding0 {


}
